@for (item of gmEvents; track item; let index = $index) {
  <div
    class="event-item"
    [attr.data-index]="index"
    >
    <div>[{{ item.timestamp }}]</div>
    <div>EventType: {{ item.type }}</div>
    <!-- gm:globaldrawmodetoggled -->
    @if (item.type === 'gm:globaldrawmodetoggled') {
      <div>Shape: {{ item.shape }}</div>
      <div>Enabled: {{ item.enabled }}</div>
    }
    <!-- Toggling events -->
    @if (
      item.type === 'gm:globalsnappingmodetoggled' ||
      item.type === 'gm:globalcutmodetoggled' ||
      item.type === 'gm:globaleditmodetoggled' ||
      item.type === 'gm:globaldragmodetoggled' ||
      item.type === 'gm:globalrotatemodetoggled'
      ) {
      <div>Enabled: {{ item.enabled }}</div>
    }
    <!-- Create event -->
    @if (item.type === 'gm:create') {
      <div>Feature Id: {{ item.id }}</div>
      <div>Feature type: {{ item.shape }}</div>
      <div class="geojson-header" (click)="toggleGeoJsonItem(index)">GeoJSON</div>
      @if (expandedGeojsonItem === index) {
        <pre class="geojson">
          {{ item.geojson }}
        </pre>
      }
    }
    <!-- Remove event -->
    @if (item.type === 'gm:remove') {
      <div>Feature Id: {{ item.id }}</div>
      <div>Feature type: {{ item.shape }}</div>
    }
    <!-- Drag, edit, scale, rotate, cut events -->
    @if (
      item.type === 'gm:drag' ||
      item.type === 'gm:dragend' ||
      item.type === 'gm:editend' ||
      item.type === 'gm:scaleend' ||
      item.type === 'gm:rotateend' ||
      item.type === 'gm:cut'
      ) {
      <div>Feature Id: {{ item.id }}</div>
      <div class="geojson-header" (click)="toggleGeoJsonItem(index)">GeoJSON</div>
      @if (expandedGeojsonItem === index) {
        <pre class="geojson">
          {{ item.geojson }}
        </pre>
      }
    }
  </div>
}
